:host /deep/ {
  .md-sort-item {
    /deep/ {
      .md-list-item-content {
        padding: 0;
      }
    }
  }
  .md-sort-icon {
    font-size: 15px;
    margin-right: 10px;
  }
  .md-sort-header {
    padding: 10px;
    &:hover {
      background-color: #EEEEEE;
      cursor: pointer;
    }
  }
}
